.gradle
/local.properties
.idea
.DS_Store
/build
/captures
*.iml
.svn/
*.apk
app/app.iml
app/manifest-merger-release-report.txt
build/
secret.xml
.project
.classpath
.externalNativeBuild/
/StackBlur/obj/
/app/adTest/
/app/online/
obj/
mapping.txt
keystore.jks
keystore.properties
distribute-app.json
keystore.jks
keystore.properties
distribute-app.json